@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables*/
:root {
    --primary-font: "Noto Sans", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-color: #021775;
    --secondary-color: #4560C6;
    --tertiary-color: #3E457D;
    --text-color-light: white;
    --text-color-dark: black;
}

/* Global styles */

body {
    font-family: "Noto Sans";
    background-color: var(--tertiary-color)
}

p {
    color: var(--text-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-light);
}

/* Navigation */

#navbar {
    background: var(--secondary-color);
}

#navbar .logo {
    width: 70px;
}

/* Header */
#hero {
    padding-top: 57.95px;
    display: flex;
    justify-content: center;
}

#hero .hero-image {
    width: 55%;
}


/* Music section */

/* Booking form */
#booking {
    background-color: var(--secondary-color);
}

/* Footer */
footer > p {
    text-align: center;
    padding-top: 2.5rem;
}

/* Media Queries */