@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables*/
:root {
    --primary-font: "Noto Sans", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-color: #021775;
    --secondary-color: #4560C6;
    --tertiary-color: #3E457D;
    --text-color-light: #FFFFFF;
    --text-color-dark: #000000;
}

/* Global styles */

html {
    scroll-padding-top: 4.5rem;
}

body {
    font-family: "Noto Sans";
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.title {
    background-color: #000000;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Navigation */

#navbar {
    background: var(--secondary-color);
}

#navbar .logo {
    width: 5rem;
}

/* Header */
#hero {
    padding-top: 1.65rem;
    display: flex;
    justify-content: center;
}

#hero .hero-image {
    width: 125%;
    padding-bottom: 1rem;
    margin: 5px;
}

/* About section */

#band-image {
    width: 50%;
    padding-bottom: 2rem;
}

#cards {
    width: 95%;
}

.card-title {
    text-transform: uppercase;
    padding: .5rem;
}

/* Music section */

#music-video {
    margin: auto;
    padding: 1rem 0rem;
}

/* Booking form */

#thanks {
    width: 13%;
    padding: 2rem 0rem;
}

#booking {
    background-color: var(--primary-color);
    padding-bottom: 1rem;
    display: flex; 
    justify-content: center; /* Centers the form fields */
}

/* Footer */

#footer {
    background: var(--secondary-color);
    text-align: center;
    padding-top: 1rem;
}

#socials {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

/* Media queries */

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Aligns the images so they look more vertically centered on larger screens*/
    #ichika-image {
        padding-top: 10%;
    }

    #saki-image {
        padding-top: 10%;
    }

    #honami-image {
        padding-top: 10%;
    }

    #shiho-image {
        padding-top: 10%;
    }
}