@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables*/
:root {
    --primary-font: "Noto Sans", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-color: #021775;
    --secondary-color: #4560C6;
    --tertiary-color: #3E457D;
    --text-color-light: white;
    --text-color-dark: black;
}

/* Global styles */

body {
    font-family: "Noto Sans";
    background-color: var(--primary-color);
}

p {
    color: var(--text-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-light);
}

/* Navigation */

#navbar {
    background: var(--secondary-color);
}

#navbar .logo {
    width: 70px;
}

/* Header */
#hero {
    padding-top: 57.95px;
    display: flex;
    justify-content: center;
}

#hero .hero-image {
    width: 80%;
    padding: 1.5rem;
    margin: 5px;
}

/* About section */

#about h1, h2 {
    padding: 1.5rem;
}

#band-image {
    width: 50%;
    padding-bottom: 2rem;
}

#cards {
    width: 95%;
}

#cards h5 {
    text-transform: uppercase;
    text-align: start;
    padding: .5rem;
}

#cards p {
    text-align: start;
}

/* Music section */

#music iframe {
    margin: auto;
    width: 100%;
}

/* Makes the embeds larger, requires extra CSS to center them properly */
.underground-video {
  position: relative;
  display: block;
  width: 90%; /* width of iframe wrapper */
  height: 0;
  margin: auto;
  padding: 0% 0% 56.25%; /* 16:9 ratio */
  overflow: hidden;
}

.underground-video iframe {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 75%;
  height: 75%;
  border: 0;
}

.story-video {
  position: relative;
  display: block;
  width: 90%; /* width of iframe wrapper */
  height: 0;
  margin: auto;
  padding: 0% 0% 56.25%; /* 16:9 ratio */
  overflow: hidden;
}

.story-video iframe {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 75%;
  height: 75%;
  border: 0;
}

.show-off-video {
  position: relative;
  display: block;
  width: 90%; /* width of iframe wrapper */
  height: 0;
  margin: auto;
  padding: 0% 0% 56.25%; /* 16:9 ratio */
  overflow: hidden;
}

.show-off-video iframe {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 75%;
  height: 75%;
  border: 0;
}

/* Booking form */
#booking {
    background-color: var(--primary-color);
    padding-bottom: 1rem;
    display: flex; 
    justify-content: center; /* Centers the form fields */
}

/* Footer */

#footer {
    background: var(--secondary-color);
}

footer > p {
    text-align: center;
    padding-top: 1rem;
}

#socials {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    text-align: center;
}

/* Success page */


/* Media Queries */

/* Small screens and up */
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Aligns the images so they look more vertically centered on larger screens*/
    #ichika-image {
        padding-top: 10%;
    }

    #saki-image {
        padding-top: 10%;
    }

    #honami-image {
        padding-top: 10%;
    }

    #shiho-image {
        padding-top: 10%;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
}