@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables*/
:root {
    --primary-font: "Noto Sans", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-color: #021775;
    --secondary-color: #4560C6;
    --tertiary-color: #3E457D;
    --text-color-light: #FFFFFF;
    --text-color-dark: #000000;
}

/* Global styles */

/* Makes sure navbar scrolls to sections as intended */
html {
    scroll-padding-top: 4.5rem;
}

body {
    font-family: "Noto Sans";
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.title {
    background-color: var(--text-color-dark);
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}


/* Navigation */

#navbar {
    background: var(--secondary-color);
    position: fixed;
}

#navbar .logo {
    width: 5rem;
}

#about-dropdown {
    text-align: start;
}

/* Header */
.hero {
    padding-top: 1.65rem;
    display: flex;
    justify-content: center;
}

.hero .hero-image {
    height: 100%;
    width: 125%;
    padding-bottom: 1rem;
    margin: 5px;
}

/* About section */

#band-image {
    width: 50%;
    padding-bottom: 2rem;
}

#cards {
    width: 95%;
}

.card {
    background-color: var(--tertiary-color);
}

.card-title {
    text-transform: uppercase;
    padding: .5rem;
}

/* Music section */

#music-video {
    margin: auto;
    padding: 1rem 0rem;
}

/* Booking form */

.img-fluid {
    padding: 2rem 0rem;
}

#booking {
    background-color: var(--primary-color);
    padding-bottom: 1rem;
    display: flex; 
    justify-content: center;
}

/* Footer */

#footer {
    background: var(--secondary-color);
    text-align: center;
    padding: .5rem;
}

#socials {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

/* success.html specific styles */

#success-message {
    padding-top: 5rem;
}

/* Keeps footer fixed to the bottom of the page */
#footer-success {
    background: var(--secondary-color);
    text-align: center;
    padding: .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}